* {
}

html {
    width: 100%;
    min-height: 100%;
}

a {
    color: #F51;
    font-weight: bold;
}
a:hover {
    color: #FF0;
    text-decoration: none;
}
h3 a, h3 a:hover {
    color: #333;
}

body {
    min-height: 100%;
    background: #EEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: #333;
    margin: 0; padding: 0;
}

pre {
    border: 1px solid #000;
    width: auto;
    _width: 90%;
    overflow: auto;
    _overflow: scroll;
    font-family: 'Lucida Console', 'Courier', monospace;
    line-height: 140%;
}

.container {
    border-left: 1px dotted #666;
    border-right: 1px dotted #666;
    background: white;
    width: 900px;
    margin: 0 auto 0 auto;
    padding: 20px;
    position: relative;
}

.nav {
    float: left;
}

.menu {
    float: right;
    width: 250px;
    border: 1px solid #666;
    padding-left: 20px;
    margin-top: 70px;
}

.menu li {
    margin-left: 10px;
}

h3 {
    font-size: 150%;
    line-height: 160%;
}
h4 {
    font-size: 130%;
    line-height: 150%;
}

.run-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ff857a;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ff857a;
    box-shadow:inset 0px 1px 0px 0px #ff857a;
    background-color:#c2160a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d65145;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:2px 20px;
    text-decoration:none;
    text-shadow:1px 1px 0px #a63028;
    cursor: pointer;
}.run-button:hover {
    background-color:#ff1c1c;
}.run-button:active {
    position:relative;
    top:1px;
}

.forms {
    border:1px solid #999;
    border-radius: 10px;
    padding: 20px;
    display: -webkit-box;
    display: -moz-box;
}
.forms h5 {
    line-height: 100%;
    margin: 10px;
}

.forms div {
    -webkit-box-flex: 1;　/* Safari,Google Chrome用 */  
    -moz-box-flex: 1;
    border-left: 1px dotted #666;
}

.forms div:first-child {
    border:none;
}

.forms table {
    width: 250px;
}
.forms table tr td:first-child {
    text-align: right;
    width:90px;
}